/* BASIC STYLES HERE */

.light{
    color: black;
    text-shadow: 1px 2px 2px #948e8e;
}

.dark{
    color: white;
    text-shadow: 1px 2px 2px black;
}

.on-hover{
    transition: all .3s linear;
    opacity: 0;
}

:hover > .on-hover{
    opacity: 1;
}

.pointer{
    cursor: pointer;
}
